<div class="container">
    <section class="w-100 my-5 p-2 info-card row">
        <div class="col-4 d-flex align-items-center justify-content-center">
            <img src="assets/about-2.jpg" class="img-fluid" style="max-height: 460px; border-radius: 30px;">
        </div>
        <div class="col-8">
            <h2 class="card-title text-center my-5">La librería:</h2>
            <h3 class="card-body">
                No hay términos como “misión” o “visión” en los fundamentos de la librería. “Alas de Papel” es un espacio de encuentro entre los libros, los niños, los jóvenes, los maestros y los padres de familia.
            </h3>
            <h3 class="card-body">
                Nace a partir del amor a los libros de la dueña, quien ha dedicado su vida, trabajo y estudio a ellos, abriendo la librería bajo las palabras “quiero que otros tengan, al alcance de sus manos, aquellos libros que a mi me hubiera gustado más cerca”.
            </h3>
        </div>
    </section>

    <section class="w-100 my-5 p-2 info-card row">
        <div class="col-8">
            <h2 class="card-title text-center my-5">La dueña:</h2>
            <h3 class="card-body">
                Después de trabajar más de veinte años en la docencia y recibir el dinero de su jubilación, respaldada por 28 años de conocer libros, escritores, autores y tratando tanto con niños y maestros, la profesora María Luisa Díaz González decidió comprar una casa, un camión y llenarlos de libros, convirtiéndose en la dueña de un espacio para encontrarse con las letras que forjan educación sentimental, y única persona con una librería itinerante de Nayarit.
            </h3>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-center">
            <img src="assets/about-1.jpg" class="img-fluid" style="max-height: 460px; border-radius: 30px;">
        </div>
    </section>

    <section class="w-100 my-5 p-2 info-card row">
        <div class="col-8">
            <h2 class="card-title text-center my-5">Los desarrolladores</h2>
            <h3 class="card-body">
                Proyecto para la materia de Infraestructura y Desarrollo Web. Grupo 10-11AM. Instituto Tecnológico de Tepic. <br>Integrantes: <br>Alfonso Aldair Rangel Cantabrana 17401056<br>Omar Oswaldo Rivera Flores 17401062<br>Keiry Yoseli Rodriguez Gonzalez 17401066<br>Ximena Verdín Carreño 17401092
            </h3>
        </div>
    </section>
    
</div>