<div class="container">
    <section class="my-4 position-relative">
        <img src="assets/logo3.jpg" alt="" class="img-fluid library-stand">
        <div class="team-stand">
          <p>Proyecto para la materia de Infraestructura y Desarrollo Web. Grupo 11-11AM. Instituto Tecnológico de Tepic. Integrantes:</p>
          <ul>
            <li>
              Alfonso Aldair Rangel Cantabrana 17401056
            </li>
            <li>
              Omar Oswaldo Rivera Flores 17401062 
            </li>
            <li>
              Keiry Yoseli Rodriguez Gonzalez 17401066 
            </li>
            <li>
              Ximena Verdín Carreño 17401092
            </li>
          </ul>
        </div>
    </section>

    <section class="w-100 my-5">
        <div class="d-flex justify-content-between">
            <h1 class="card-titles">Proximos eventos</h1>
            <a mat-button href="https://www.facebook.com/LibreriaAlasdePapel" target="_blank" style="font-style: italic;" class="text-muted card-links">Ver más >></a>
        </div>
        <div class="w-100" style="max-height: 400px; overflow: hidden;">
            <img src="assets/events.webp" alt="" class="img-fluid library-stand">
        </div>
    </section>
    
</div>