<div class="container">

  <section class="w-100 my-5">
      <div class="d-flex">
          <h1 class="card-titles">{{withoutCategory ? 'Novedades' : category.name}}</h1>
      </div>
      <div class="d-flex justify-content-around flex-wrap" *ngIf="books.length > 0">
          <img *ngFor="let book of books" [src]="book.image"[alt]="book.title" (click)="viewBook(book)" class="img-fluid book-style m-3" style="cursor: pointer;" height="282px" width="184px">
      </div>
      <div class="d-flex align-items-center justify-content-around" style="min-height: 282px; background-color: beige; border-radius: 40px;" *ngIf="books.length === 0">
          <h1 class="no-books">No tenemos todavía libros registrados para esta categoría</h1>
      </div>
  </section>
  
</div>