<div class="container">
    <section class="w-100 my-5 p-2 info-card row">
        <div class="col-5 text-center text-wrap d-flex align-items-center">
            <h2 class="pregunta-texto">¿Cuál es el horario de atención en la librería?</h2>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="assets/icons/clock.png" class="img-fluid" width="106px">
        </div>
        <div class="col-5 text-center text-wrap d-flex align-items-center">
            <h2 class="pregunta-texto">El horario de atención es de
                10:00 - 14:00 y 16:00 - 19:00</h2>
        </div>
    </section>

    <section class="w-100 my-5 p-2 info-card row">
        <div class="col-5 text-center text-wrap d-flex align-items-center">
            <h2 class="pregunta-texto">¿A qué teléfono puedo llamar, y con quién debo dirigirme?</h2>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="assets/icons/info.png" class="img-fluid" width="106px">
        </div>
        <div class="col-5 text-center text-wrap d-flex align-items-center">
            <h2 class="pregunta-texto">El teléfono es: 311-909-9201
                Quien te atenderá, es la Maestra Maria Luisa.</h2>
        </div>
    </section>

    <section class="w-100 my-5 p-2 info-card row">
        <div class="col-5 text-center text-wrap d-flex align-items-center">
            <h2 class="pregunta-texto">¿Puedo apartar los libros que quiera por teléfono o debo ir a la librería?</h2>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="assets/icons/bookshelf.png" class="img-fluid" width="106px">
        </div>
        <div class="col-5 text-center text-wrap d-flex align-items-center">
            <h2 class="pregunta-texto">Si, puedes apartar los libros que desees. Y no es necesario ir a la librería más que para recogerlos.</h2>
        </div>
    </section>

    <section class="w-100 my-5 p-2 info-card row">
        <div class="col-5 text-center text-wrap d-flex align-items-center">
            <h2 class="pregunta-texto">Si no tienen el libro que quiero en la librería, ¿pueden conseguirlo?</h2>
        </div>
        <div class="col-2 d-flex align-items-center justify-content-center">
            <img src="assets/icons/storytelling.png" class="img-fluid" width="106px">
        </div>
        <div class="col-5 text-center text-wrap d-flex align-items-center">
            <h2 class="pregunta-texto">¡Claro! Siempre que sea posible, reuniremos a los libros con los lectores.</h2>
        </div>
    </section>
    
</div>